/* src/components/Vibe.css */


.vibe {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.vibe h2 {
  color: #ff0;
  text-align: center;
}

.vibe-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.vibe-photo {
  width: 100px;
  height: 100px;
  background-color: #444;
  border: 2px solid #f00;
  transition: transform 0.3s;
}

.vibe-photo:hover {
  transform: scale(1.1);
}


.vibe-gallery img {
  width: 150px; /* Adjust the size as needed */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}